host=xx.x.x.xxx # db host ip (make sure it is reachable)
user=xxxxx # db user
password=xxxxxx # db password
database=xxxxx # db where configurations are stored
VULNDB_UI_URL=http://xx.x.x.xxx:3000 # base URL of the vulndb-ui server, used to download configuration attachments